---
// Highlights Section
// ------------
// Description: A section with a multiple text and image rows.

// Components
// - UI
import TextImage from '../basic/TextImage.astro'

// Content
import buildify from '../../../assets/highlights/buildify.png'
import buildifymobile from '../../../assets/highlights/buildify-mobile.png'
import autoinsta from '../../../assets/highlights/autoinsta.png'
import autoinstamobile from '../../../assets/highlights/autoinsta-mobile.png'
import brandhunt from '../../../assets/highlights/brandhunt.png'
import brandhuntmobile from '../../../assets/highlights/brandhunt-mobile.png'
import supernav from '../../../assets/highlights/supernav.png'
import supernavmobile from '../../../assets/highlights/supernav-mobile.png'
import voxie from '../../../assets/highlights/voxie.png'
import voxiemobile from '../../../assets/highlights/voxie-mobile.png'

type HighlightBlock = {
	title: string
	text: string
	image: any
	mobileImage?: any
	imageWidth: number
	imageHeight: number
	imagePosition: 'left' | 'right'
}
const highlightBlocks: HighlightBlock[] = [
	{
		title: '<strong>Buildify</strong>',
		text: 'Visual-to-code builder for Shopify sections',
		image: buildify,
		imageWidth: buildify.width,
		imageHeight: buildify.height,
		mobileImage: buildifymobile,
		imagePosition: 'right'
	},
	{
		title: '<strong>AutoInsta</strong>',
		text: 'Automated Instagram engagement flows',
		image: autoinsta,
		mobileImage: autoinstamobile,
		imageWidth: autoinsta.width,
		imageHeight: autoinsta.height,
		imagePosition: 'left'
	},
	{
		title: '<strong>BrandHunt</strong>',
		text: 'Tool to discover and analyze D2C brands',
		image: brandhunt,
		mobileImage: brandhuntmobile,
		imageWidth: brandhunt.width,
		imageHeight: brandhunt.height,
		imagePosition: 'right'
	},
	{
		title: '<strong>SuperNav</strong>',
		text: 'comprehensive and multi featured fund accounting and Management software for investment funds Private equity,Venture capital and Fund Administrators.',
		image: supernav,
		mobileImage: supernavmobile,
		imageWidth: supernav.width,
		imageHeight: supernav.height,
		imagePosition: 'left'
	},

	{
		title: '<strong>Voxie</strong>',
		text: 'Conversational AI system for voice-based interactions',
		image: voxie,
		mobileImage: voxiemobile,
		imageWidth: voxie.width,
		imageHeight: voxiemobile.height,
		imagePosition: 'right'
	}
	// {
	// 	title: '<strong>Mike GTM Engine</strong>',
	// 	text: 'Empower Harvey (SDR) to close deals faster by delivering actionable and relevant leads.',
	// 	image: highlight04,
	// 	mobileImage: highlight04mobile,
	// 	imageWidth: highlight04.width,
	// 	imageHeight: highlight04.height,
	// 	imagePosition: 'left'
	// }
]
---

<div id="products">
	{
		highlightBlocks.map((highlight, key) => (
			<TextImage
				id={`highlight-${key}`}
				title={highlight.title}
				text={highlight.text}
				image={highlight.image}
				imageWidth={highlight.imageWidth}
				imageHeight={highlight.imageHeight}
				mobileImage={highlight.mobileImage}
				imagePosition={highlight.imagePosition}
				classes={key === 0 ? '!pb-0' : key === highlightBlocks.length - 1 ? '!pt-0' : '!py-0'}
			/>
		))
	}
</div>
